# Ignore .env file in the root and directories
.env
/backend/.env
/client/.env

# Ignore node_modules
node_modules/

# Ignore build directories if any
/client/build/
/backend/build/

# Ignore log files
*.log

# Ignore operating system files
.DS_Store

# Ignore npm debug files
npm-debug.log*
